.custom-button {
  height: 46px;
  width: 100%;
	border: none;
	border-radius: 30px;
	font-size: 14px;
  line-height: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.custom-button--primary {
	background-color: #CC1D1D;
	color: #fff;
}

.custom-button--secondary {
	color: #000;
	background-color: none;
	border: 1px solid #000;
}

