.car-location {
    display: flex;
    flex-direction: column;
}

.car-location h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.car-location span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}