.car-book-page {
  padding: 20px;
}
.car-book-page h1 {
  font-size: 34px;
  margin-bottom: 20px;
}
.car-book-page__details {
  display: flex;
  gap: 20px;
}
.car-book-page .user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.car-book-page h2 {
  font-weight: 600;
}

.car-book-page .links :nth-child(n) {
  padding-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}
.car-book-page .links :nth-child(2n-1):hover {
  text-decoration: underline;
}
.car-book-page .links :last-child {
  font-weight: 600;
}
.modal-message-card__message {
  font-size: 16px;
  padding: 5px 0;
}
.modal-message-card__message-link{
  color: #000000;
  font-weight: 600;
}