.calendar-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fffbf3;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-grid-container {
  display: flex;
  gap: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar-title {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Inter';
  text-align: center;
  margin-bottom: 18px;
}

.calendar-day-name {
  font-weight: 400;
  text-align: center;
  padding: 4px;
  gap: 8px;
  color: #666666;
  font-size: 14px;
}

.calendar-day {
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  /*background: #fff;*/
  color: #000;
  font-size: 14px;
  gap: 8px;
  /*border: 1px solid #ccc;*/
  transition:
    background 0.3s,
    color 0.3s;
}

.calendar-day.start,
.calendar-day.end {
  background: #000;
  color: #fff;
}

.calendar-day.in-range {
  background: #f0f0f0;
  color: #000;
}

.calendar-day:hover {
  background: #f0f0f0;
}

.time-picker {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.time-picker div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time-picker label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.time-picker select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  width: 268px;
  height: 47px;
}

.calendar-day.booked {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
  cursor: not-allowed;
}

.calendar-day.disabled {
  pointer-events: none;
  color: #666;
}
